<div>
	<div>ABOUT</div>
	<div style='margin:20px; text-align:left'>
		Goosteroids is a <href='http://en.wikipedia.org/wiki/Grey_goo)' target='_blank'>grey goo</a> themed remake of the classic 1979 Atari game 
		<a href='http://en.wikipedia.org/wiki/Asteroids_(video_game)' target='_blank'>Asteroids</a>. Originally	created as a promotion by 
		<a href='http://jackpine.co' target='_blank'>Jackpine Digital Inc</a>, Goosteroids has been rewritten and redesigned to run entirely in the browser. 
		The source code has been released under the GPL version 3.
	</div>
	<div>
		<button class='close'>Close</button>
	</div>
</div>
