<div>
	<div>CREDITS</div>
	<div style='margin:5px; text-align:left'>
		<ul>
			<li><span style='font-weight:bold'>Programming:</span> James McLean</li>
			<li><span style='font-weight:bold'>Design:</span> Liam Mooney, Tom Jansen, Taulant Sulko</li>
			<li><span style='font-weight:bold'>Music:</span> Sycamore Drive, RushJet1, Rocco Wouters</li>
			<li><span style='font-weight:bold'>Sound effects:</span> Mike Koenig</li>
			<li><span style='font-weight:bold'>Icons:</span> <a href="http://www.freepik.com" title="Freepik">Freepik</a> (<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">see license</a>).</li>
			<li><span style='font-weight:bold'>Special thanks:</span> <a href='http://jackpine.co' target='_blank'>Jackpine Digital Inc.</a></b></li>
		</ul>
	</div>
	<div>
		<button class='close'>Close</button>
	</div>
</div>
