<div>
	<div>HIGH SCORE!</div>
	<div>
		<span class='message'>Congratulations you got a high score!<br>Brag about it by entering your name below:</span><br><br>
		<input type='text' class='name'/>
	</div>
	<div>
		<button class='submit'>Submit</button><button class='cancel'>Cancel</button>
	</div>
</div>
