body {
	background-color:white;
	color:black;
	font-family:'Courier New', sans-serif;
	text-align:center;
	overflow:hidden;
	padding:0;
	margin:0;
	height:100%;
}

hr {
	color:black;
	background-color:black;
	height:5px;
	width:700px;
}

a:visited {
	color:blue;
}

a:active, a:focus {
	outline:none;
}

h1 {
	width:100%;
	font-size:5em;
	font-weight:bolder;
	letter-spacing:2px;
	margin:0px;
}

h2 {
	width:100%;
	font-size:2em;
	font-weight:bolder;
	text-align:center;
	letter-spacing:2px;
	margin:0px;
}

div {
	background-color:white;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

button::-moz-focus-inner {
	border: 0;
}

button:hover {
	background-color:blue;
	color:white;
}

button {
	cursor:pointer;
	outline:none;
	background-color:white;
	color:black;
	font-family:'Courier New', sans-serif;
	border-style:solid;
	border-color:black;
}

button.big {
	font-size:3em;
	font-weight:bolder;	
	border-width:10px;
	padding:25px;
}

button.small {
	font-size:1em;
	font-weight:bolder;	
	border-width:4px;
	padding:15px;
}

div.screen {
	display:none;
	position:fixed;
	width:100%; 
	height:100%;
	margin:0;
}

div.screen > div.wrapper {
	display:table;
	height:100%;
	width:100%;
}

div.wrapper > div.header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:auto;
	padding:25px 0% 0% 0%; 
}

div.wrapper > div.body {
	display:table-cell;
	vertical-align:middle;
	height:100%;
	width:100%;
}

div.wrapper > div.footer {
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:auto;
	padding:0% 0% 25px 0%;
}

div.dialog {
	display:none;
	width:510px;
	height:300px;
	border-style:solid;
	border-color:black;
	border-width:2px;
	background-color:white;
	padding:10px 0px;
}

div.dialog input[type=text] {
	background-color:white;
	border:1px solid black;
	outline:none;
}

div.dialog hr {
	width:300px;
	height:3px;
}

div.dialog button {
	font-size:14px;
	font-weight:bold;	
	border-width:1px;
	padding:5px;
	margin:2px;
}

div.dialog div.header {
	width:100%;
	font-size:1em;
	font-weight:bolder;
	text-align:center;
	letter-spacing:2px;
}

div.dialog div.body {
	text-align:center;
	font-size:14px;
	font-weight:lighter;
	overflow:hidden;
}

div.dialog div.footer {
	width:100%;
	text-align:center;
}

div.progress-bar {
	width:150px;
	height:20px;
	border:3px solid black;
	background-color:white;
	border-radius:15px;
	overflow: hidden;
}

div.progress-bar div {
	width:0px;
	height:100%;
	color:#ffffff;
	background-color:blue;
	text-align:right;
	line-height:right;
	border-radius:15px;
	font-family: 'Courier New', sans-serif;
	font-size:10px;
}

div.introduction {
	font-size:12px;
	text-align:left;
	width:500px;
	border-width:4px;
	border-style:solid;
	border-color:black;
	padding:15px;
}

div.controls {
	font-size:12px;
	text-align:center;
	width:500px;
	border-width:4px;
	border-style:solid;
	border-color:black;
	padding:15px;
}

div.controls table {
	border:0;
	width:500px;
}

div.controls table th, div.controls table td {
	padding:10px;
	font-weight:bold;
	width:100px;
}

table.high-scores th {
	width:175px;
}

#canvas {
	border-style: solid;
    border-width: 5px;
}

#mute-toggle {
	display:none;
	position:absolute;
	top:30px;
	left:30px;
	z-index:1;
}
