<div class='screen'>
	<div class='wrapper'>
		<div class='header'>
			<img src='/image/goosteroids-logo-small.png'>
		</div>
		<div class='body'>

		</div>
		<div class='footer'>
			<a href='https://github.com/jrimclean/goosteroids' target='_blank'><img src='/image/github-logo.png'></a>
		</div>
	</div>
</div>
