<div class='screen'>
	<div class='wrapper'>
		<div class='header'>
			<img src='/image/goosteroids-logo-small.png'>
		</div>
		<div class='body'>
			<div class='introduction' style="margin-left:auto; margin-right:auto; margin-bottom:37px;">
				<a href='https://en.wikipedia.org/wiki/Grey_goo'>Grey goo</a> has invaded the internet again! Based on the original 1979 Atari 
				<a href='http://en.wikipedia.org/wiki/Asteroids_%28video_game%29'>Asteroids</a> game, you are tasked with blasting globs of grey goo 
				into oblivion with your ship's laser cannon until you either collapse from exhaustion or your computer locks up! Good luck!
			</div>
			
			<button class='big play'>Play</button>
			
			<div class='controls' style="margin-left:auto; margin-right:auto; margin-top:37px;">
				<table>
					<th>Fire</th><th>Movement</th><th>Speed Boost</th>
					<tr>
						<td>Space</td>
						<td>
							<img src='image/left-arrow.png' style='display:inline'>
							<img src='image/up-arrow.png' style='display:inline'>
							<img src='image/right-arrow.png' style='display:inline'>
						</td>
						<td>Shift</td>
					</tr>
				</table>
			</div>
		</div>
		<div class='footer'>
			<a href='https://github.com/jrimclean/goosteroids' target='_blank'><img src='/image/github-logo-small.png'></a>
		</div>
	</div>
</div>
