<div class='screen'>
	<div class='wrapper'>
		<div class='body'>
			<img src='/image/goosteroids-logo-large.png'>
			<div id='progress-bar' style='margin-left:auto; margin-right:auto; margin-top:3%;'></div>
		</div>
	</div>
</div>
